@media screen and (max-width: 990px) {
html{
    font-size: 15px;
}

.review_img {

    width: 110px;

}

.review_txt h2 {

    font-size: 1.2rem;
}
}

@media screen and (max-width: 800px){

    html {

        font-size: 14px;
    }

    .logo {

        width: 40%;

    }

    #bars {

        display: block;
        font-size: rem;
    }

    .container {

        align-items: flex-start;
    }

    .nav {

        background-image: linear-gradient(orange,rgba(0,0,0,3));
        width: 80%;
    }

    .ul {

        flex-direction: column;
        text-align: left;
        width: 100%;
        justify-content: space-around;
        padding-left: 3em;
        height: 0vh;
        opacity: 0;
    }

    ul li {

        margin-bottom: 4.5em;
        
    }

    ul a {

        color:white;
        font-size: 1.5rem;
        font-weight: bolder;
        margin-left: 1.5em;
    }

    .home_img {

        width: 70%;
        padding-top: 1.1rem;

    }

    .home_txt_container {

        margin-right: 2em;
    
    }

    .home_txt {

        font-size: 2rem
    }

    .home_btn{

        font-size: 1.05rem;
        padding: .3em .7em;
        transition: .5s all ease-in;
       
    }
}

@media screen and (max-width: 650px) {
    html {

        font-size: 13px;
    }

    #bars {

        font-size: 2rem;
    }

    .home {

    flex-direction: column;

    }

    .home_img_container {

        width: 100%;

    }
.home_img {
    width: 70%;
    display: block;
    margin: 0 auto;

}

.home_txt_container {

    margin: .5em 0;

}

.quality_container {

flex-direction: column;
padding: 1em;

}

.quality_container_section {
    
    width: 90%;

}

.quality_image_container {

    width: 100%;

}



.quality_image_container {

width: 100%;
height: 50%;
object-fit: contain;

}

.item_img_container {

    width: 90%;
    margin: 1em auto;

}

.items_images {

    width: 40%;
}

.items_images img{

width: 90%;

}

.d_none {

    display: none;
}

.reviews {

    width: 42%;

}

.footer_first, .footer_second, .footer_third, .footer_fourth {

    width: 45%;
    margin-bottom: 1em;

}

.footer_third, .footer_fourth {

    margin-bottom: 0;
}

}