@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&family=Poppins:ital,wght@1,200&family=Stylish&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'PT Sans Caption', sans-serif;
font-family: 'Stylish', sans-serif; */

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    color: black;
    overflow-x: hidden;
    transition: .5s all linear;

}

:root {

    --orange: rgb(241, 159, 7)
    --black: black;
    --lightgrey: rgb(248, 248, 248)

}

body {

    background-color: var(--lightgrey);
    overflow: hidden;

}

/* header section */

header {

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    /* background-color: aqua; */
    box-shadow: .1em .1em .5em rgb(238,236,236);

}

.container {

    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 1em;

}

.logo {

    font-size: 3rem;
    color: var(--black);
    font-weight: bold;
    margin-left: 2em;

}

.color-txt {

    color: orange;

}

.ul {

    display: flex;

}

.ul li {

    margin-left: 1.4em;
    font-size: 1.05;
    font-weight: 500;
    text-transform: uppercase;

}

.ul a:hover {

color: var(--orange);
border-bottom: 1px solid var(--orange);

}

#bars {

    font-size: 1.3rem;

}

.home {

    display: flex;
align-items: center;
justify-content: space-around;
flex-wrap: wrap;
margin-top: 4em;

}

.home_img {

    width: 100%;
    animation: shadow 3s linear infinite;

}
@keyframes shadow{
    0%{
        filter: drop-shadow(.5em .5em 1em var(--orange))
    }

    100% {
        filter: drop-shadow(.5em .5em 1em white)
    }
}

.home_txt {

    font-size: 3rem;

}

.btn {

    margin: 1em 0;

}

.home_btn {

   padding: .5em 1em; 
   background-color: orange;
   color: white;
   font-weight: bold;
   margin-right: 1em;
   border-radius: 7px;
}


.home_btn:hover {

    background-color: white;
    color: orange;

}

/* homebg section */

.home_bg_container {
 
    /* background-color: yellow; */
    background-image: linear-gradient(rgb(0,0,0,.5),rgb(0,0,0,.5)),url('https://static.toiimg.com/photo/83114901.cms');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 2em;
    object-fit: contain;

}

.home_bg_txt {

    color: white;
    font-size: 3rem;
    font-family: 'Stylish', sans-serif;
    margin-bottom: 1em;

}

/* quality section */

.quality_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    padding: 5em 0;

}

.quality_container_section {

    width: 50%;

}

.quality_image_container {

    width: 80%;

}

.quality_image_container img {

    width: 80%;

}

.quality_section {

    display: flex;
    align-items: center;
    margin-bottom: 1em;

}

.quality_section .fas {

    color: orange;
    font-size: 1.7rem;
    margin-right: 1em;
    width: 10%;
    height: 30px;

}

.quality_text p {

    font-size: .9rem;

}

/* items section */

.heading {

    text-align: center;
    font-size: 3rem;
    font-family: 'Stylish', sans-serif;

}

.items_img_container {

    width: 80%;
    /* background-color: burlywood; */
    margin:  1em auto 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.items_images {

    width: 20%;
    margin: 3em;
    height: 8rem;



    
}

.items_images img {

    width: 90%;
    object-position: contain;
    height: 10rem;
    filter: drop-shadow(.1em .1em .2em var(--orange));

}

/* quality section ends here */


/* reviews section */

.review_container {

    margin-top: 1em;

}

.reviews_box {

    justify-content: space-around;
    display: flex;
    align-items: center;
    margin: 2em 0 3em;
    background-color: black;
    flex-wrap: wrap;

}

.reviews {

    display: flex;
    justify-content: space-around;
    margin: 1.5em 0;
    padding: 1em;
    width: 22%;
    box-shadow: .1em .1em .2em var(--orange);
    transition: .5s all ease-in;

}

.reviews:hover {

    box-shadow: .1em .1em .2em white;

}

.review_img {

    width: 100px;
    height: 50px;
    object-fit: contain;

}

.review_txt h2 {

    /* color: var(--orange) */
    color: orange;

}

.review_txt p {

    color: white;
    font-size: .9rem;

}

/* footer section */

.footer_container {
    background-image: linear-gradient(orange,rgba(0,0,0,3));
}

.footer {

    display: flex;
    justify-content: space-around;
    padding: 2em;
    flex-wrap: wrap;

}

.footer_first h1 {

    font-family:" Stylish', sans-serif";

}

.footer_first .fab {

    font-size: 1.5rem;

}

.fab:hover {

    color: white;

}

.footer_second p {

    font-size: .9rem;

}

.footer_third h2 {

    font-family: "Stylish', sans-serif";

}

.footer_third p {

    font-weight: 500;
    
}

.footer_fourth h2 {

    font-family: "Stylish', sans-serif";

}

.footer_fourth .fab {

    font-size: 1.5rem;
    margin: 1em 0 1em 1em;

}

.footer_copyright {

    text-align: center;
    font-family: "Stylish', sans-serif";

}


/* footer section ends here */


/* reviews section ends here */

